<!DOCTYPE html>
<html lang="en" ng-app="chatApp">
<head>
    <meta charset="UTF-8">
    <title>Chat App</title>

    <!--BEGIN BOWER COMPONENTS CSS-->
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css"/>
    <!--<link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css"/>-->
    <!--END BOWER COMPONENTS CSS-->


</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <h1> </h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4" ng-controller="ChatterOneCtrl as ctrlOne">

                        <div class="form-group">

                            <label>
                                Alex
                            </label>
                            <input type="text" class="form-control" ng-model="ctrlOne.message" />
                        </div>

                        <button type="submit" class="btn btn-default" ng-click="ctrlOne.sendMessage(ctrlOne.message)">
                            Send
                        </button>

                </div>
                <div class="col-md-4"  ng-controller="ChatController as ctrlChat">
                    <div ng-repeat="message in ctrlChat.messageArray track by $index">
                    <div class="alert alert-success alert-dismissable" ng-if="message.chatterName==='Alex'">
                        <h4>
                         {{message.chatterName}}
                        </h4> <strong>{{message.message}}</strong>
                    </div>
                    <div class="alert alert-warning alert-dismissable" ng-if="message.chatterName==='Steve'">
                        <h4>
                            {{message.chatterName}}
                        </h4> <strong>{{message.message}}</strong></div>
                    </div>
                </div>
                <div class="col-md-4" ng-controller="ChatterTwoCtrl as ctrlTwo">

                    <div class="form-group">

                        <label>
                           Steve
                        </label>
                        <input type="text" class="form-control" ng-model="ctrlTwo.message"/>
                    </div>

                    <button type="submit" class="btn btn-default" ng-click="ctrlTwo.sendMessage()">
                        Send
                    </button>

                </div>
            </div>
        </div>
    </div>
</div>


<!--BEGIN BOWER COMPONENTS JS-->
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/angular/angular.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<!--END BOWER COMPONENTS JS-->


<!--BEGIN SOURCE JS-->
<script src="/app/app.js"></script>
<script src="/app/services/chat.service.js"></script>
<script src="/app/chat/chatterone.controller.js"></script>
<script src="/app/chat/chattertwo.controller.js"></script>
<script src="/app/chat/chat.controller.js"></script>

<!--END SOURCE JS-->

</body>
</html>